doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')

    // libs
    script(src="/js/libs/react.js")
    script(src="/js/libs/react-dom.js")
    script(src="/js/libs/jquery-1.12.4.min.js")
    script(src="/js/libs/async.min.js")
    script(src="/js/libs/strings.js")
    script(src="/js/libs/api.js")
    script(src="/js/libs/popper.js")
    script(src="/js/libs/bootstrap.min.js")

    // react
    script(src="/js/react/components/nav.js")
    script(src="/js/react/components/index.js")
    script(src="/js/react/components/portfolio.js")
    script(src="/js/react/components/weUse.js")
    script(src="/js/react/components/contacts.js")
    script(src="/js/react/components/footer.js")
    script(src="/js/react/config.js")
    script(src="/js/react/app.js")

  body
    block content
