body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  margin-top: 20px;
}

.index-title{
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.images-size {
  width:150px;
  height: 150px;
}

@media (max-width: 768px) {
  .images-size {
    width: 80%;
    height: 80%;
  }
}

.index-img {
  width  : 100vw;
}
.index-carouser{
  position: absolute; !important;
  top: 55px;
  right: 0;
}

.index-calusel-item{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: calc(100vh - 55px);
}


